<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}"/>
</head>
<body>
    <h1>키워드 대결?</h1>
    {% if data%}
        {{data}}
    {%endif%}
    <form action="\" method="GET">
        <label for="keyword1">첫번 째 키워드</label>
        <input type="text" name="keyword1" id="keyword1">
        <label for="keyword2">두번 째 키워드</label>
        <input type="text"name="keyword2" id="keyword2">
        <button type="submit">검색</button>
    </form>

    <div id="visual_result">
        {% if data%}
            {% for k,v in data.items() %}<div class="bar bar{{loop.index}}" value = "{{v}}">{{k}}</div>{% endfor %}
        {%endif%}
    </div>
    <script>
        function draw_bar(){
            var bars = document.querySelectorAll('.bar');

            var total = 0;

            for(var i = 0;i<bars.length;i++){
                total += parseInt(bars[i].getAttribute('value'));
            };
            console.log(total);
            // 반복을 통해 divdp width를 설정 해준다
            for(var i = 0; i < bars.length; i++){
                w = bars[i].getAttribute('value');
                console.log(w)
                bars[i].style.width = parseInt(w)/total*100+'%';
            };
        }

        setTimeout(draw_bar,1500);
    </script>
</body>
</html>